*{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
background-image: url(Quad.png);
background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000000e;
  outline: 4px solid #ff0000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #00000042;
}

table, th, td {
    border: 2px solid #ffffff85; 
    margin: auto;
    border-collapse: collapse;
}

button{
  background-size: 100%;
  padding: 10px 40px;
  border-radius: 1px;
  font-size: 36px;
  color: red;
  border: 5px solid ;
  background-color: #00000000;
}

h1 {
  color: red;
  font-size: 64px;
  /*-webkit-text-stroke: rgb(0, 0, 0) 1px;*/
}

footer {
  background-color: rgba(41, 41, 41, 0.952);
  display: flex;
  justify-content: center;
  margin: -10px;
  padding: 100px;
  transform: translateY(100px);
}

footer p{
  color: white;
}

h3{
  color: #752f2f;
  text-wrap: balance;
  /*-webkit-text-stroke: rgb(0, 0, 0) 1px;*/
  font-size: 32px;
}

h2{
  color: #bd2727;
  /*-webkit-text-stroke: rgb(0, 0, 0) 1px;*/
  font-size: 48px;
}

label{
  color: #000000;
  font-size: 24px;
}

h1 a{
  color: red;
  text-decoration: none;
  outline: #ff0000 5px solid;
  padding: 10px 40px;
  /*-webkit-text-stroke: rgba(0, 0, 0, 0) 0px;*/
}

#coolvertisement {
  display: flex;
  flex-direction: column;
  align-content: center;
}

input{
  padding: 10px;
  font-size: 24px;
}